main{
    width: 100%;
}

table{
    width: 90%;
    border-collapse:collapse;
    table-layout: fixed;
}



span{
    font-weight: bold;
}

thead{
    background-color: brown;
    color: white;
}

tbody, tfoot{
    text-align: center;
}
